body{
    background-color: rgb(42, 42, 42);
}
#main{
    position: relative;
    width: 15%;
    height: 15%;
    background-color: brown;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: auto;
}
#resposta{
    background-color: rgb(156, 90, 90);
    width: 120px;
    height: 23px;
    
}
p{
    font-size: 20px;
    
}
